/x2-armstrong-numbers/node_modules
/x2-armstrong-numbers/package-lock.json

/x3-leap/node_modules
/x3-leap/package-lock.json

/x1-protein-translation/node_modules
/x1-protein-translation/package-lock.json

/3-resistor-color/node_modules
/3-resistor-color/package-lock.json

/2-two-fer/node_modules
/2-two-fer/package-lock.json

/x4-run-length-encoding/node_modules
/x4-run-length-encoding/package-lock.json